/*---RESET---*/
* {
    padding: 0;
    margin: 0;
    box-sizing: borderbox;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*---HEADER---*/

header {
    display: flex;
    flex-direction: column;

    background-color: white;
    height: 20vh;
    position: sticky;
    justify-content: space-around;
    /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/
    top: 0px;
    z-index: 100;
    align-items: center;
}

/*TITULO*/
h1 {
    color: #D47A8B;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    border: white;
    margin-top: 8px;
    text-shadow: 2px 2px 8px rgb(158, 158, 158);
    justify-content: center;
}

nav {
    margin-top: 15px;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    margin-top: 8px;

}

nav ul li {
    list-style: none;
}

nav ul a {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6D3B24;
}

.boton-catalogo {
    /* BOTON DESPLEGABLE */
    border: none !important;
    background: none;
    box-shadow: none !important;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6D3B24;
}

/* ---------- MAIN ---------- */
main {
    display: flex;
    align-items: center;
    /* centra verticalmente el contenido (ajustable) */
    justify-content: space-between;
    /* texto a la izquierda, imagen a la derecha */
    padding: 0 1%;
    height: 70vh;
    position: relative;

    background-image: url("../imagenes/fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------- DIV TEXTO ---------- */
.leyenda {
    display: flex;
    /* contenedor flex columna */
    flex-direction: column;
    gap: 10px;
    flex: 0 0 80%;
    /* fijo ~36% del ancho, se adapta */
    max-width: none;
    /* nunca más ancho que esto */
    min-width: 280px;
    /* evita que se encoja demasiado en pantallas medianas */
    width: 100%;
    height: 70vh;
    padding: 50px 80px;
    color: #6D3B24;
    text-align: left;
    flex: 1;
    justify-content: center;


    box-sizing: border-box;

}

/* ---------- LEYENDA ---------- */
.leyenda h2 {

    font-size: 50px;
    /* reduce el título para que no invada la sección */
    font-weight: 700;
    color: #6D3B24;
    margin: 30px;



}

.leyenda h3 {
    font-size: 28px;
    color: #6D3B24;

}

.texto-presentacion {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    color: #6D3B24;
}


/* ---------- BOTONES DE INTERACCION ---------- */

.interaccion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15PX;
    align-items: center;

}


.abrircoleccion a {

    text-decoration: none;
    font-size: 18px;
    background-color: #6D3B24;
    padding: 15px 25px;
    border-radius: 15px;
    color: #fff;
    line-height: 1;
    top: 50px;


}


.abrircompras a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
    padding: 15px 25px;
    border-radius: 15px;
    color: #6D3B24;
    display: inline-block;

}

/*---------------------IMAGEN-MODELO-----------------------------*/

main img {
    height: 70vh;
    margin-right: 15%;
}


/*---------------------FOOTER-----------------------------*/
footer {
    display: flex;
    background-color: white;
    height: 5vh;
    position: sticky;
    justify-content: center;
    /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/

    z-index: 100;
    align-items: center;
    margin-top: 15px;
}

footer h3 {
    font-size: 20px;
    color: #6D3B24;
    justify-content: center;

}

footer section {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer p {
    display: flex;
    margin-left: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #6D3B24;
    margin-top: 15px;
}

footer img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/*---------------------COMIENZO QUIENES SOMOS-----------------------------*/
.informacion-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 0 50%;
}

main h2 {
    margin-top: 10px;
    font-size: 35px;
    color: #6D3B24;
    text-align: center;
}

main p {
    top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #6D3B24;

}

.card-img-top {
    height: 240px;
    object-fit: cover;
}





.titulo {
    background-image: url(../Imagenes/fondo-inicio.jpg);
    height: 90px;
    text-align: center;
}

h1 {
    color: #6D3B24;
    font-size: 50px;
    font-family: "Playfair Display", serif;
    text-align: center;

}

/*---------------------COMIENZO EMPRENDEDORES-----------------------------*/
.texto-emprendedores {

    display: flex;
    flex-direction: column;
    align-items: center;
}


/*---------------------COMIENZO COLECCION-----------------------------*/

.card-img-collecion {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.coleccion {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.main coleccion {

    display: flex;
    align-items: center;
    /* centra verticalmente el contenido (ajustable) */
    height: 80%;
    width: auto;
    position: relative;
    flex: 1;


    background-image: url("../Imagenes/fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------COMIENZO MOBILE-----------------------------*/

@media (max-width:580px) {
 /*-INDEX-*/

    header {
        border-radius: 5px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        margin-left: 20px;
        margin-top: 20px;

    }

    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 35%;
        padding-left: 10px;
        align-items: flex-start;
        text-align: left;
    }

    header nav {
        max-width: 25%;
        margin-left: 2px;
    }

    header h1 {
        text-align: center;
        font-size: 35px;
        margin-left: 25px;
    }


    /*-MAIN-*/

    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0 1%;
    max-width: auto;
    height: auto;
    justify-content: center;

}

.leyenda h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
}

.leyenda h3 {
    font-size: 20px;
    text-align: center;

}

.texto-presentacion {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.interaccion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15PX;
    align-items: center;

}

.abrircoleccion a {
    font-size: 15px;
    padding: 10px 20px;
    line-height: 1;
    margin-top: 10px;
}

.abrircompras a {
    font-size: 15px;
    padding: 10px 20px;
    line-height: 1;
    margin-top: 10px;

}

main img {
    position: absolute;
    height: 220px;
    opacity: 90%;

    bottom: 0;
    left: 63% ;


}

footer{
    height: 20%;
    justify-content: center;
}

footer h3 {
    font-size: 15px;

}


 /*-QUIENES SOMOS-*/


.informacion-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0 1%;
    max-width: auto;
    height: auto;
    justify-content: center;
}

main h2 {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}

.info {
    max-width: 80%;
    top: 10px;
    font-size: 17px;
    text-align: center;



}

.container{
    max-width: 80%;
    justify-content: center;
    object-fit: contain;
    box-shadow: gray;
}

.container img{
    display: none;
}
   
}