@charset "UTF-8";
/*---RESET---*/
* {
  padding: 0;
  margin: 0;
  box-sizing: borderbox;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/*COLLECION*/
.card-img-collecion {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

/*EMPRENDEDORES*/
.card-img-top {
  height: 240px;
  object-fit: cover;
}

/*QUIENES SOMOS*/
.card-img-top {
  height: 240px;
  object-fit: cover;
}

.abrircoleccion a {
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(109, 59, 36, 0.7803921569);
  padding: 15px 25px;
  border-radius: 15px;
  color: #fff;
  line-height: 1;
  top: 50px;
}

.abrircompras a {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  padding: 15px 25px;
  border-radius: 15px;
  color: rgba(109, 59, 36, 0.7803921569);
  display: inline-block;
}

a:hover {
  position: relative;
  animation: mover 4s infinite;
}

@keyframes mover {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 10px;
  }
  50% {
    top: 0px;
    left: 0px;
  }
  75% {
    top: 0px;
    left: -10px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}
/*BOTON EMPRENDEDORES*/
.compra-mayorista {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  background-color: white;
  padding: 15px 25px;
  border-radius: 15px;
  color: rgba(109, 59, 36, 0.7803921569);
  display: inline-block;
  box-shadow: 0 0 1 5px rgba(255, 255, 255, 0.5019607843);
  top: 80px;
  width: 200px;
  margin-top: 10px;
}

header {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 20vh;
  position: sticky;
  justify-content: space-around;
  /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/
  top: 0px;
  z-index: 100;
  align-items: center;
}
header h1 {
  /*TITULO*/
  color: #C48A7F;
  font-size: 50px;
  font-family: "Playfair Display", serif;
  border: white;
  margin-top: 8px;
  justify-content: center;
}
header nav {
  margin-top: 15px;
  justify-content: center;
}
header nav ul {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  margin-top: 8px;
}
header nav li {
  list-style: none;
}
header nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #C48A7F;
}
header nav .boton-catalogo {
  /* BOTON DESPLEGABLE */
  border: none !important;
  background: none;
  box-shadow: none !important;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #C48A7F;
}

main {
  display: flex;
  align-items: center;
  /* centra verticalmente el contenido (ajustable) */
  justify-content: space-between;
  /* texto a la izquierda, imagen a la derecha */
  padding: 0 1%;
  height: 70vh;
  position: relative;
  background-image: url("../imagenes/fondo-inicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* ---------- DIV TEXTO ---------- */
}
main .leyenda {
  display: flex;
  /* contenedor flex columna */
  flex-direction: column;
  gap: 10px;
  flex: 0 0 80%;
  /* fijo ~36% del ancho, se adapta */
  max-width: none;
  /* nunca más ancho que esto */
  min-width: 280px;
  /* evita que se encoja demasiado en pantallas medianas */
  width: 100%;
  height: 70vh;
  padding: 50px 80px;
  color: rgba(109, 59, 36, 0.7803921569);
  text-align: left;
  flex: 1;
  justify-content: center;
  box-sizing: border-box;
}
main .leyenda h2 {
  font-size: 50px;
  /* reduce el título para que no invada la sección */
  font-weight: 700;
  color: rgba(109, 59, 36, 0.7803921569);
  margin: 30px;
}
main .leyenda h3 {
  font-size: 28px;
  color: rgba(109, 59, 36, 0.7803921569);
}
main .leyenda p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  color: rgba(109, 59, 36, 0.7803921569);
}
main nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15PX;
  align-items: center;
}

img {
  /*---------------------IMAGEN-MODELO-----------------------------*/
  height: 70vh;
  margin-right: 15%;
}

/*---------------------COMIENZO QUIENES SOMOS-----------------------------*/
.informacion-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.informacion-personal h2 {
  margin-top: 10px;
  font-size: 35px;
  color: rgba(109, 59, 36, 0.7803921569);
  text-align: center;
}
.informacion-personal p {
  top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgba(109, 59, 36, 0.7803921569);
}
.informacion-personal {
  /* CARD DE MUESTRAS */
}
.informacion-personal .card-quienes-somos {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  /* para responsive */
  top: 0;
}
.informacion-personal .container-card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 5px;
}
.informacion-personal .card-muestras {
  width: 250px;
  margin-top: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #C48A7F;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.informacion-personal .card-muestras img {
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
  fill: rgba(109, 59, 36, 0.7803921569);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.informacion-personal .card-muestras:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.informacion-personal .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.informacion-personal .card-muestras:hover .card__content {
  transform: rotateX(0deg);
}
.informacion-personal .card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.informacion-personal .card-muestras:hover img {
  scale: 0;
}
.informacion-personal .card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

/*---------------------COMIENZO COLECCION-----------------------------*/
.coleccion {
  display: flex;
  align-items: center;
  /* centra verticalmente el contenido (ajustable) */
  height: 80%;
  width: auto;
  position: relative;
  flex: 1;
  background-image: url("../imagenes/fondo-inicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------COMIENZO OFERTAS-----------------------------*/
main.oferta {
  padding-bottom: 0;
}
main.oferta .carrousel-ofertas {
  position: relative;
  display: flex;
  /* contenedor flex columna */
  flex-direction: column;
  gap: 10px;
  max-width: none;
  /* nunca más ancho que esto */
  min-width: 280px;
  /* evita que se encoja demasiado en pantallas medianas */
  width: auto;
  height: 70vh;
  flex: 1;
  justify-content: center;
}
main.oferta .img-desktop {
  display: none;
}
main.oferta .img-mobile {
  display: block;
}

/*---------------------COMIENZO EMPRENDEDORES-----------------------------*/
.texto-emprendedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(109, 59, 36, 0.7803921569);
}

h2 {
  margin-top: 10px;
}

.leyenda-emprendedores {
  top: 0;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

/* CARD EMPRENDEDORES */
.catalogo-emprendedor {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap; /* para responsive */
  top: 0;
}

.container-card {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 5px;
}

.card-emprendedores {
  width: 250px;
  margin-top: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #C48A7F;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5019607843);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-emprendedores img {
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
  fill: rgba(109, 59, 36, 0.7803921569);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-emprendedores:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-emprendedores:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card-emprendedores:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

footer { /*---------------------FOOTER-----------------------------*/
  display: flex;
  background-color: white;
  height: 5vh;
  position: sticky;
  justify-content: center;
  /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/
  z-index: 100;
  align-items: center;
  margin-top: 15px;
}
footer h3 {
  font-size: 20px;
  color: #C48A7F;
  justify-content: center;
}
footer section {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer section p {
  display: flex;
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #C48A7F;
  margin-top: 15px;
}
footer section img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (max-width: 580px) {
  header {
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
  }
  header h1 {
    text-align: center;
    font-size: 35px;
    margin-left: 25px;
  }
  header nav {
    max-width: 25%;
    margin-left: 2px;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;
    padding-left: 10px;
    align-items: flex-start;
    text-align: left;
  }
}
@media (max-width: 580px) {
  main.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0 1%;
    max-width: auto;
    height: 86vh;
    justify-content: center;
  }
  main.index h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 5px;
  }
  main.index h3 {
    font-size: 17px;
    text-align: center;
  }
  main.index .texto-presentacion {
    font-size: 15px;
    margin: 0;
    text-align: center;
  }
  main.index .interaccion {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15PX;
    align-items: center;
  }
  main.index .interaccion .abrircoleccion a {
    font-size: 15px;
    padding: 10px 20px;
    line-height: 1;
    margin-top: 10px;
  }
  main.index .interaccion .abrircompras a {
    font-size: 15px;
    padding: 10px 20px;
    line-height: 1;
    margin-top: 10px;
  }
  main.index img.modelo {
    position: absolute;
    height: 220px;
    opacity: 90%;
    bottom: 0;
    left: 63%;
  }
}
@media (max-width: 580px) {
  /*-OFERTAS-*/
  main.oferta {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 1rem 0;
    min-height: 200px;
    height: 86vh;
  }
  main.oferta .carrousel-ofertas {
    height: 70vh;
    width: auto;
    margin: 0 auto;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  }
}
@media (max-width: 580px) {
  main.informacion-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0 1%;
    max-width: auto;
    height: auto;
    justify-content: center;
  }
  main.informacion-personal h2 {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }
  main.informacion-personal .info {
    max-width: 80%;
    top: 10px;
    font-size: 15px;
    text-align: center;
  }
  main.informacion-personal .container {
    max-width: 70%;
    justify-content: center;
    object-fit: contain;
    box-shadow: gray;
  }
  main.informacion-personal .container img {
    display: none;
  }
}
@media (max-width: 580px) {
  main .texto-emprendedores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0 1%;
    max-width: auto;
    min-height: 80vh;
  }
  main .texto-emprendedores h2 {
    font-size: 50px;
    margin-top: 10%;
  }
  main .texto-emprendedores p {
    font-size: 25px;
  }
}
@media (max-width: 580px) {
  footer {
    height: auto;
    justify-content: center;
  }
  footer h3 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
