
/*---RESET---*/
*{
    padding:0;
    margin: 0;
    box-sizing: borderbox;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}


/*---HEADER---*/

header{
    background-color: white;
    height: 20vh;
    position: sticky;
    justify-content: space-around; /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/ 
    top: 0px;
    z-index: 100;
    align-items: center;
}

/*TITULO*/
h1{
    color: #D47A8B;
    font-size:  50px;
    font-family: "Playfair Display", serif;
    border: white;
    margin-top: 8px;
    text-shadow: 2px 2px 8px rgb(158, 158, 158); 
    justify-content: center;  
}
nav{
    margin-top: 15px;
    justify-content: center;
}

nav ul{
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    margin-top: 8px;

}
nav ul li{
    list-style: none;
}

nav ul a{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6D3B24;
}

.boton-catalogo { /* BOTON DESPLEGABLE */
    border: none !important;
    background: none;   
    box-shadow: none !important;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #6D3B24;
}





/* ---------- MAIN ---------- */
main {
    display: flex;
    align-items: center;        /* centra verticalmente el contenido (ajustable) */
    justify-content: space-between; /* texto a la izquierda, imagen a la derecha */
    padding: 0 1%;
    height: 70vh;
    position: relative;

    background-image: url("../Imagenes/fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------- DIV TEXTO ---------- */
.leyenda {
    display: flex;               /* contenedor flex columna */
    flex-direction: column;
    gap: 10px;
    flex: 0 0 80%;               /* fijo ~36% del ancho, se adapta */
    max-width: none;            /* nunca más ancho que esto */
    min-width: 280px;          /* evita que se encoja demasiado en pantallas medianas */
    width: 100%;
    height: 70vh;
    padding: 50px 80px;
    color: #6D3B24;
    text-align: left;
    flex: 1;
    justify-content: center;
   

    box-sizing: border-box;
    
}

/* ---------- LEYENDA ---------- */
.leyenda h2{
   
    font-size: 50px;     /* reduce el título para que no invada la sección */
    font-weight: 700;
    color: #6D3B24;
    margin: 30px;
   
  

}

.leyenda h3{
    font-size: 28px;
    color: #6D3B24;

}

.texto-presentacion{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
    color: #6D3B24;
}


/* ---------- BOTONES DE INTERACCION ---------- */
nav {
    display: flex;
    gap: 18px;
    margin-top: 6px;
    align-items: center;
   
}


.abrircoleccion a{

    text-decoration: none;
    font-size: 18px;
    background-color: #6D3B24;
    padding: 15px 25px;
    border-radius: 15px;
    color: #fff;
    line-height: 1;
    top: 50px;
    
    
}


.abrircompras a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color: white;
    padding: 15px 25px;
    border-radius: 15px;    
    color: #6D3B24;
    display: inline-block   ;

}

/*---------------------IMAGEN-MODELO-----------------------------*/

main img{
    height: 70vh;
    margin-right: 15%;
}


/*---------------------FOOTER-----------------------------*/
    footer{
        display: flex;
        background-color: white;
        height: 5vh;
        position: sticky;
        justify-content: center; /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/ 
  
        z-index: 100;
        align-items: center;
        margin-top: 15px;
    }

    footer h3{
        font-size: 20px;
        color: #6D3B24;
        justify-content: center;
    
    }
    footer section{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    footer p{
        display: flex;
        margin-left: 15px;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: #6D3B24;
        margin-top: 15px;
    }

    footer img {
        width: 30px;     
        height: 30px;     
        object-fit: contain;
    }

/*---------------------COMIENZO QUIENES SOMOS-----------------------------*/
.informacion-personal{
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 10px;  
    padding: 0 0 50%;
}

main h2{
    margin-top: 10px;
    font-size: 35px;
    color: #6D3B24;
    text-align: center;
}

main p{
    top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: center;
    color: #6D3B24;

}

.card-img-top {
  height: 240px;
  object-fit: cover;
}




/*---------------------COMIENZO EMPRENDEDORES-----------------------------*/
.titulo{
    background-image: url(../Imagenes/fondo-inicio.jpg);
    height: 90px;
    text-align: center;
}
h1{
    color: #6D3B24;
    font-size:  50px;
    font-family: "Playfair Display", serif;
    text-align:center;  

}

.leyenda-emprendedores{
    color: #6D3B24; 
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px; 
    
}

.leyenda-precios{
    color: #6D3B24; 
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px; 
    
}
    /*IMAGENES ROPA*/
    .ropa-emprendedores{
        text-align: center;
        background-position: relative;
    }
    .ropa-emprendedores img{
        width: 200px;
        background-position: 60% bottom;

    }
       
    .ropa-emprendedores p{  
        color: #6D3B24; 
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;  
    }

      /*IMAGENES ACCESORIOS*/
    .accesorios-emprendedores{  
        text-align: center;
    }
    .accesorios-emprendedores img{
        width: 200px;
        background-position: 60% bottom;
    }
       
    .accesorios-emprendedores p{  
        color: #6D3B24; 
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;  
    }


      /*IMAGENES BEAUTY*/
    .beauty-emprendedores{
        text-align: center;
    }
    .beauty-emprendedores img{
        width: 200px;
        background-position: 60% bottom;
    }
       
    .beauty-emprendedores p{  
        color: #6D3B24; 
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;  
    }
    /*IMAGENES  */
    .imagenes-emprendedores{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /*---------------------COMIENZO COLECCION-----------------------------*/

.card-img-collecion {  
  margin-top: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;    
}
.coleccion{
    margin-top: 10px;
    display: flex;
    justify-content: center;  
    gap: 4px;
}
.main coleccion{

    display: flex;
    align-items: center;        /* centra verticalmente el contenido (ajustable) */
    height: 80%;
    width:auto;
    position: relative;
    flex: 1;


    background-image: url("../Imagenes/fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

     /*---------------------COMIENZO COMPRAS-----------------------------*/
     
      /*.leyenda h2{
        color: #6D3B24; 
        font-size: 40px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 30px;
        margin-left: 60%; 
     }
     
     .leyenda h3{
        color: #6D3B24; 
        font-size: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
        margin-left: 50%;     
     }*/
     .comprar{
        display: flex;
        margin-top: 2%;
        margin-left: 15%;
     }
     .celu-wsp{
        display: flex;
        height: 450px;
        margin-right: 20%;
     }
     div .leyenda{
        justify-content: center;
        align-items: center;
     }