@use "../utilities/variables" as *;

footer { /*---------------------FOOTER-----------------------------*/

   
    display: flex;
    background-color: white;
    height: 5vh;
    position: sticky;
    justify-content: center;
    /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/

    z-index: 100;
    align-items: center;
    margin-top: 15px;

    h3 {
        font-size: 20px;
        color: $color-principal;
        justify-content: center;

    }

    section {
        display: flex;
        align-items: center;
        gap: 8px;

        p {
            display: flex;
            margin-left: 15px;
            font-family: "Montserrat", sans-serif;
            font-size: 15px;
            color:$color-principal;
            margin-top: 15px;
        }

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

    }


}