@use "../utilities/variables" as *;

header {
   
    display: flex;
    flex-direction: column;

    background-color: white;
    height: 20vh;
    position: sticky;
    justify-content: space-around;
    /*---CENTRO TODO LO QUE ESTA EN EL ENCABEZADO ---*/
    top: 0px;
    z-index: 100;
    align-items: center;


    h1 {
        /*TITULO*/
        color: $color-principal;
        font-size: 50px;
        font-family: $fuente-titulo;
        border: white;
        margin-top: 8px;
        justify-content: center;
    }




    nav {
        margin-top: 15px;
        justify-content: center;


        ul {
            display: flex;
            gap: 60px;
            justify-content: space-evenly;
            margin-top: 8px;

        }

        li {
            list-style: none;
        }

        a {
            font-family: $fuente-textos;
            font-size:15px;
            text-decoration: none;
            color: $color-principal;
        }

        .boton-catalogo {
            /* BOTON DESPLEGABLE */

            border: none !important;
            background: none;
            box-shadow: none !important;
            font-family: $fuente-textos;
            font-size: 15px;
            text-decoration: none;
            color: $color-principal;
        }
    }

}