@use "../utilities/variables" as *;

/*---------------------COMIENZO QUIENES SOMOS-----------------------------*/
.informacion-personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 0 50%;

    h2 {
        margin-top: 10px;
        font-size: 35px;
        color: $color-textos;
        text-align: center;
    }

    p {
        top: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        text-align: center;
        color:$color-textos;

    }

    .card-img-top {
        height: 240px;
        object-fit: cover;
    }






}