@use "../utilities/variables" as *;


/*---------------------COMIENZO EMPRENDEDORES-----------------------------*/
.texto-emprendedores {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-textos;

  
}