@use "../utilities/variables" as *;


/*---------------------COMIENZO COLECCION-----------------------------*/


.coleccion {

    display: flex;
    align-items: center;
    /* centra verticalmente el contenido (ajustable) */
    height: 80%;
    width: auto;
    position: relative;
    flex: 1;


    background-image: url("../Imagenes/fondo-inicio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .card-img-collecion {
        margin-top: 10px;
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

}