@use "../utilities/variables" as *;

/*---------------------COMIENZO QUIENES SOMOS-----------------------------*/
.informacion-personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  

    h2 {
        margin-top: 10px;
        font-size: 35px;
        color: $color-textos;
        text-align: center;
    }

    p {
        top: 10px;
        font-family: $fuente-textos;
        font-size: 20px;
        text-align: center;
        color: $color-textos;

    }

    /* CARD DE MUESTRAS */

    .card-quienes-somos {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        /* para responsive */
        top: 0;
    }



    .container-card {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        gap: 5px;
    }

    .card-muestras {
        width: 250px;
        margin-top: 10px;

        position: relative;
        align-items: center;
        justify-content: center;
        background-color: $color-principal;
        border-radius: 10px;

        overflow: hidden;
        perspective: 1000px;
        box-shadow: 0 0 0 5px #ffffff80;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card-muestras img {
        width: 100%;
        height: 100%;
        justify-content: center;
        object-fit: cover;
        fill: $color-textos;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card-muestras:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    }

    .card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
        background-color: #f2f2f2;
        transform: rotateX(-90deg);
        transform-origin: bottom;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .card-muestras:hover .card__content {
        transform: rotateX(0deg);
    }

    .card__title {
        margin: 0;
        font-size: 24px;
        color: #333;
        font-weight: 700;
    }

    .card-muestras:hover img {
        scale: 0;
    }

    .card__description {
        margin: 10px 0 0;
        font-size: 14px;
        color: #777;
        line-height: 1.4;
    }



}