 @media (max-width:580px) {

     main {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 0;
         padding: 0 1%;
         max-width: auto;
         height: auto;
         justify-content: center;

         h2 {
             font-size: 40px;
             text-align: center;
             margin-top: 5px;
         }

         h3 {
             font-size: 20px;
             text-align: center;

         }

         .texto-presentacion {
             font-size: 15px;
             margin: 0;
             text-align: center;
         }

         .interaccion {
             display: flex;
             flex-wrap: wrap;
             gap: 10px;
             margin-top: 15PX;
             align-items: center;


             .abrircoleccion a {
                 font-size: 15px;
                 padding: 10px 20px;
                 line-height: 1;
                 margin-top: 10px;
             }

             .abrircompras a {
                 font-size: 15px;
                 padding: 10px 20px;
                 line-height: 1;
                 margin-top: 10px;

             }

         }

         img.modelo {
             position: absolute;
             height: 220px;
             opacity: 90%;

             bottom: 0;
             left: 63%;


         }

     }

 }