     @media (max-width:580px) {

         footer {
             height: 20%;
             justify-content: center;

             h3 {
                 font-size: 15px;

             }

         }


     }