  
  
  /*COLLECION*/
   .card-img-collecion {
     margin-top: 10px;
     width: 100%;
     height: 100px;
     object-fit: cover;
   }
   /*EMPRENDEDORES*/
   .card-img-top {
     height: 240px;
     object-fit: cover;
   }

   
   /*QUIENES SOMOS*/
   .card-img-top {
     height: 240px;
     object-fit: cover;
   }

