    @media (max-width:580px) {

        /*-OFERTAS-*/
        main.oferta {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            padding: 1rem 0;
            min-height: 200px;
            height: 86vh;

            .carrousel-ofertas {
                height: 70vh;
                width: auto;
                margin: 0 auto;
            }

        }

        .img-desktop {
            display: none;
        }

        .img-mobile {
            display: block;

        }

    }