  @use "../utilities/variables" as *;

  @media (max-width:580px) {

      main .texto-emprendedores {

          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 0;
          padding: 0 1%;
          max-width: auto;
          min-height: 80vh;

          h2 {
              font-size: 50px;
              margin-top: 10%;
          }

          p {
              font-size: 25px;
          }

      }
  }