
    @media (max-width:580px) {


        main.informacion-personal {
             display: flex;
             flex-direction: column;
             align-items: center;
             margin-top: 0;
             padding: 0 1%;
             max-width: auto;
             height: auto;
             justify-content: center;


             h2 {
                 margin-top: 30px;
                 font-size: 30px;
                 text-align: center;
             }

             .info {
                 max-width: 80%;
                 top: 10px;
                 font-size: 15px;
                 text-align: center;
             }

             .container {
                 max-width: 70%;
                 justify-content: center;
                 object-fit: contain;
                 box-shadow: gray;

                img {
                     display: none;
                 }
             }
         }

     }