   @media (max-width:580px) {

        main .texto-emprendedores {
             display: flex;
             flex-direction: column;
             align-items: center;
             max-width: auto;
             justify-content: center;
             height: 100px;

           h2 {
            font-size: 30px;
            margin-top: 10%;
           }
           p{
            font-size: 20px;
           }
       }
      
   }